* {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    border-radius: 0;
}
tr{
    font-size: 0.85vw !important;
}
td{
    font-size: 0.85vw !important;
}

h3{
    font-size: 1.5vw !important;
}
/* Navbar */
.bg-white {

    background-image: url(../admin-images/gplay.png);
    background-size: 225px;
}
#head-buttons{
    display: flex;
    justify-content:flex-end;
    padding: 1%;
}
.bg-white h2{
    margin: 0;
}
.navv{
    display: flex;
    justify-content:space-between;
    width: 100%;
    align-items: center;
}
.navv ul{
    margin:0;
}
#logo-img{
    width: 55px;
    margin-right: 5%;
    transition:all 0.2s ease;
}
.ul-flex{
    display: flex;
    align-items: center;
}
#logo{
    transition:all 0.2s ease;
    cursor: pointer;
    padding: 0;
    margin-left: -6%;
}
#logo:hover{
    transform: scale(1.1);
}
#down{
    margin-top: 5px;
    width: 25px;
    cursor: pointer;
}
@media only screen and (max-width:992px) {
    .navbar-brand{
        display: none;
    }
    .collapse:not(.show) {
        display: block !important;
    }
    .container-fluid{
        display: flex;
    }
    .container-fluid ul{
        height: max-content;
    }
}

/* Ana Sayfa */
.card{
    border-top-right-radius: 10px !important;
    border-top-left-radius: 10px !important;
    box-shadow: 0px 0px 15px -6px black;
}
.card .card-header{
    background-color: #282828;
    border-top-right-radius: 10px !important;
    border-top-left-radius: 10px !important;
}
.card .card-header .card-title{
    color: white;
    margin: 0;
}
.card-body .cardA {
    display: flex;
    position: relative;
    text-align: center;
    background-color: #282828;
    border-radius: 10px;
    width: calc(100% / 2);
    margin: 0 2%;
    flex-direction: column;
    align-items: center;
}
.card-body .cardA .iconA {
    color: white;
    margin-left: 10%;
}
.card-body .cardA .contentA {
    width: 100%;
    display: flex;
    color: white;
    align-items: center;
    color: white;
    margin-bottom: 2vw;
}
.card-body .cardA .contentA h2{
    font-size: 2vw;
}
.card-body .cardA .contentA .numberA{
    margin-left: 28%;
}
.card-body .cardA .card-nameA {
    margin-top: 0.5vw;
    color: white;
    font-size: 0.85vw;
}
.card-body .cardA .more-menuA {
    color: white;
    font-size: 0.85vw;
    display: flex;
    justify-content: center;
    background-color: #bf2533;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
}
.card-body .cardA .more-menuA a{
    color: white;
    text-decoration: none;
}
.card-red{
    margin-top: 10px;
}
.card-red .card-header{
    background-color: #bf2533;
    border-radius: 0px !important;
}
.tables{
    display: flex;
}
/* Roles */
#buttons{
    display: flex;
}
#buttons a{
    margin-left: 2%;
}
.check-boxes{
    display: flex !important;
    justify-content: space-between;
    align-items: center;
}
.check-boxes span{
    background-color: white;;
    padding: 0.2% 0.35%;
}
.check-boxes span [type='checkbox']{
    outline: none;
    border: 1px solid black;
}
.check-boxes span [type='checkbox']:focus-within {
    outline: 2px solid white;
}
.check-boxes span label{
    color: black;
    margin: 0;
}
/* */
.back{
    cursor: pointer;
    width: 31px;
}
.leading-tight{
    display: flex;
    align-items: center;
}
.leading-tight a{
    margin: 0 0.6%;
}
.leading-tight a svg{
    color: #282828;
}
.table {
    --bs-table-striped-bg: rgba(0, 0, 0, 0.0) !important;
}
.table-striped tbody tr {
    background-color: rgba(255, 0, 0, 0.000);
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(255, 0, 0, 0.05);
}
.table-striped tbody tr:hover {
    background-color: rgba(255, 0, 0, 0.05);
}
.table-striped tbody tr:nth-of-type(odd):hover{
    background-color: rgba(255, 0, 0, 0.08);
}
.table>:not(caption)>*>* {
    border-bottom: none;
}
.table-bordered>:not(caption)>*>* {
    border-width: 0;
}
/* SideBar */
#sidebar{
    top: 0;
    left: 0;
    position: fixed;
    height: 100%;
    background-image: url(../admin-images/gplay.png);
    background-size: 225px;
    width: max-content;
    padding: 1% 0.5%;
    box-shadow: 0px 0px 40px -6px black;
    width: 73px;
}
#sidebar:hover{
    padding: 1% 1.5%;
    width: max-content;
    animation-duration: 800ms;
    transition: 500ms all;
}
#sidebar:hover ul li a:last-child{
    display: block;
}
#sidebar:hover .sidebar-head h2{
    display: block;
}
#sidebar:hover ul {
    margin-left: 0;
}
#sidebar:hover ul li{
    margin-bottom: 2%;
}
#sidebar ul {
    padding: 0;
    margin-left: 10%;
}
#sidebar ul li{
    color: #282828;
    padding: 4%;
    margin-bottom: 35%;
    cursor: pointer;
    display: flex;
    align-items: center;
}
#sidebar ul li:first-child:hover{
    background:none;
    border-radius: 10px;
    color: #282828;
}
#sidebar ul li:hover{
    background-color: #138cb7;
    border-radius: 10px;
    color: white;
}
#sidebar ul li:hover a{
    color: white;
}
#sidebar ul li:hover i{
    color: white;
}
#sidebar ul li a{
    color: #282828;
    text-decoration: none;
}
#sidebar ul li a:first-child{
    width: 40px;
    margin-right: 3%;
}
#sidebar ul li a:last-child{
    display: none;
}
#sidebar .sidebar-head{
    border-bottom: 1px solid rgba(255, 255, 255, 0.49);
    padding-bottom: 7%;
    margin-left: 0;
}
#sidebar .sidebar-head h2{
    font-size: 22px;
    margin: 0;
    display: none;
}
#sidebar .sidebar-head li{
    display: flex;
    align-items: center;
    width: 180px;
    font-size: 1vw;
    color: #282828;
    padding: 0;
}
#sidebar .sidebar-head img{
    margin-right: 9%;
}


*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
html::-webkit-scrollbar {
    width: 0px;
    background-color: #222222;
}
html::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #A11A29;
}
body{
    background-color: #282828;
    background-image: url(../front-images/pattern.png);
    background-size: cover;
}
header{
    display: flex;
    justify-content: center;
    background: linear-gradient(360deg,#2b071200, #2b0712c5, #2b0712,#2b0712d8);
}
header a{
    display: flex;
    justify-content: center;
    align-items: center;
}
header #logo{
    width: 25%;
    padding: 2%;
    transition:all 0.2s ease;
    cursor: pointer;
}
header #logo:hover{
    transform:scale(1.1);
}
header #logo-2{
    display: none;
}
#accessible{
    margin-top: 2%;
}
#inaccessible{
    margin-top: 2%;
}

/* Head */
.head h1{
    font-weight: inherit;
    font-size: 1.7vw;
    margin: 4px 12px;
    height: max-content;
}
.h1-white{
    color: whitesmoke;
}
.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0.9;
    margin: 0 5%;
    padding: 0 3%;
    cursor: pointer;
    box-shadow:-2px 4px 10px #000000;
    background-image: url(../front-images/pattern1.png);
    background-repeat: no-repeat;
    background-repeat: repeat-x;
}
.head span{
    display: flex;
    align-items: center;
}
#star{
    width: 35px;
    color: black;
}
#correct{
    width: 35px;
    color: whitesmoke;
}
#wrong{
    width: 27px;
    margin-right: 8px;
    color: whitesmoke;
}
#fav-head{
    background-color: white;
}
#accessible-head{
    background-color: #C10505;
}
.head:hover{
    opacity: 1;
}
.down{
    height: 40px;
    color: black;
}
.down-white{
    color: whitesmoke;
}
/* Inner */
.inner{
    display: none;
    margin: 0 5% 0 5%;
}
#fav-inner{
    display: flex;
}
.ab{
    height: 50px;
    width: 50px;
    transform: rotate(270deg);
    opacity: 0.8;
}
.ab-red{
    opacity: 0.7;
}
.ab-white{
    opacity: 0.6;
}
.ters{
    transform: rotate(180deg);
}
.squares{
    background-color: rgba(0, 0, 0, 0.36);
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    padding: 2% 0;
    border: 1px solid white;
    border-top: none;
    width: 100%;
}

/* Square */
.square{
    width: 13%;
    cursor: pointer;
    transition:all 0.2s ease;
    padding: 0.3%;
}
.square:hover .background img{
    transform: scale(1.2);
}
.square:hover .square-inner div{
    transform: scale(1.2);
}
.square:hover .background img{
    opacity: 1;
}
.square .square-inner{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.square .square-inner div{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    opacity: 1;
    z-index: 1;
    margin-top: 2.6%;
    text-align: center;
    transition:all 0.2s ease;
}
.square .square-inner div .icon{
    width: 58%;
}
.square .square-inner div h4{
    display: flex;
    align-items: center;
    width: 115px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.95vw;
    line-height: 1.1;
    height: 50px;
}
.square .background img{
    opacity: 0.6;
    z-index: 2;
    transition:all 0.2s ease;
    width: 100%;
}

/* Footer */
#footerTag{
    width: 100%;
    position: fixed;
    bottom: 0px;
}
#footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222222;
    top: 0;
}
#footer p{
    margin: 0.5% 0;
    font-size: 15px;
}
.modal-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#282828 ;
    border: none;
    padding:18% 0;
    background-image: url(../front-images/bg-pattern.png);

}
.modal-content button{
    border-radius: 0;
    padding: 2% 0;
    width: 65%;
}
.modal-content a{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;
    border-radius: 0;
}
.modal-content #firatt {
    color: #ffffff;
    background-color: rgba(155, 30, 72, 0.7);
    border: 1px solid white;
}
.modal-content #firatt:hover {
    background-color: rgb(155, 30, 72);
    border: 1px solid white;
}
.modal-content #other {
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #ffffff;
}
.modal-content #other:hover {
    color: rgb(155, 30, 72);
    background-color: rgb(255, 255, 255);
    border: 1px solid #9B1E48;
}
.modal-content #logo{
    width: 45%;
    padding: 2%;
    transition:all 0.2s ease;
    cursor: pointer;
}

